[core]
excludesfile = /Users/maksym.bondarchuk/.gitignore_global
editor = vim
[difftool "sourcetree"]
cmd = opendiff \"$LOCAL\" \"$REMOTE\"
path =
[mergetool "sourcetree"]
cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
trustExitCode = true
[user]
	email = belkamax05@gmail.com
name = Maksym Bondarchuk
[push]
autoSetupRemote = true
[commit]
template = /Users/maksym.bondarchuk/.stCommitMsgi

[alias]
st = status -s
sta = status
conf = config --global --edit
cge = config --global --edit
ci = commit
co = checkout
cod = checkout .
rh = reset HEAD
cdf = clean -df # command is used to remove untracked files and directories from your Git repository.
br = branch
bra = branch -a
pr = pull --rebase
amend = commit -a --amend --no-edit
ciam = commit -a --amend --no-edit
last = log -10 --oneline
ps = push
psn = push --no-verify
cm = commit -m
sw = switch
swc = switch -c
pp = "!f() { git pull; git ps; }; f"
qps = "!f() { git stage-modified; git cm \"$1\"; git ps; }; f"
quick-push = "!f() { git fast-commit \"$1\"; git fast-push; }; f"
qpsn = "!f() { git stage-modified; git quick-push \"$1\"; }; f"

#! commands
merge-squash-reset = "!zsh -c 'shell git merge-squash-reset $0 $@'"
fast-commit = "!zsh -c 'shell git fast-commit $0 $@'"
fast-push = "!zsh -c 'shell git fast-push $0 $@'"
dialog-commit = "!zsh -c 'shell git dialog-commit $0 $@'"
hard-reset = "!zsh -c 'shell git hard-reset $0 $@'"
soft-reset = "!zsh -c 'shell git soft-reset $0 $@'"
stage-all = "!zsh -c 'shell git stage-all $0 $@'"
stage-modified = "!zsh -c 'shell git stage-modified $0 $@'"
me = "!zsh -c 'shell git me'"
gho = "!zsh -c 'shell git gho'"
#! aliases to commands
msr= "!git merge-squash-reset"
pull-branch= "!git merge-squash-reset"
fc= "!git fast-commit"
dc= "!git dialog-commit"
cm= "!git dialog-commit"
comm= "!git dialog-commit"
fp="!git fast-push"
fps="!git fast-push"
hr="!git hard-reset"
sr="!git soft-reset"
aa="!git stage-all"
au="!git stage-modified"
#! profile
vml = "!zsh -c 'shell git set-email maksym.bondarchuk@vml.com'"
personal = "!zsh -c 'shell git set-email belkamax05@gmail.com'"
