[core]
excludesfile = /Users/maksym.bondarchuk/.gitignore_global
editor = vim
	hooksPath = /home/belkamax05/shell/hooks
[difftool "sourcetree"]
cmd = opendiff \"$LOCAL\" \"$REMOTE\"
path =
[mergetool "sourcetree"]
cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
trustExitCode = true
[user]
	email = belkamax05@gmail.com
name = Maksym Bondarchuk
[push]
autoSetupRemote = true
[commit]
template = /Users/maksym.bondarchuk/.stCommitMsgi

[alias]
st = status -s
sta = status
conf = config --global --edit
cge = config --global --edit
ci = commit
co = checkout
cod = checkout .
rh = reset HEAD
cdf = clean -df # command is used to remove untracked files and directories from your Git repository.
br = branch
bra = branch -a
pr = pull --rebase
amend = commit -a --amend --no-edit
ciam = commit -a --amend --no-edit
last = log -10 --oneline
ps = push
psn = push --no-verify
cm = commit -m
sw = switch
swc = switch -c
; pp = "!f() { git pull; git ps; }; f"
; qps = "!f() { git stage-modified; git cm \"$1\"; git ps; }; f"
; quick-push = "!f() { git fast-commit \"$1\"; git fast-push; }; f"
; qpsn = "!f() { git stage-modified; git quick-push \"$1\"; }; f"

#! commands
z = "!zsh -c 'source ~/.zshrc && s-run git $0 $@'" #source ~/.zshrc s  $0 $@
# hi1 = "!zsh -c 'source ~/.zshrc && hi1'"
#! commands
merge-squash-reset = "!git z merge-squash-reset"
fast-commit = "!git z fast-commit"
fast-push = "!git z fast-push"
dialog-commit = "!git z dialog-commit"
hard-reset = "!git z hard-reset"
soft-reset = "!git z soft-reset"
stage-all = "!git z stage-all"
stage-modified = "!git z stage-modified"
staged-files = "!git z staged-files"
staged-files-count = "!git z staged-files-count"
unstaged-files = "!git z unstaged-files"
unstaged-files-count = "!git z unstaged-files-count"
modified-files = "!git z modified-files"
modified-files-count = "!git z modified-files-count"
deleted-files = "!git z deleted-files"
deleted-files-count = "!git z deleted-files-count"
created-files = "!git z created-files"
created-files-count = "!git z created-files-count"
github-open = "!git z github-open"
repo-root = "!git z repo-root"
me = "!git z me"
sync = "!git z sync"
fast-submit = "!git z fast-submit"
#! aliases to commands
msr= "!git merge-squash-reset"
pull-branch= "!git merge-squash-reset"
fc= "!git fast-commit"
dc= "!git dialog-commit"
cm= "!git dialog-commit"
comm= "!git dialog-commit"
fp="!git fast-push"
fps="!git fast-push"
hr="!git hard-reset"
sr="!git soft-reset"
aa="!git stage-all"
au="!git stage-modified"
sf="!git staged-files"
sfc="!git staged-files-count"
uf="!git unstaged-files"
ufc="!git unstaged-files-count"
mf="!git modified-files"
mfc="!git modified-files-count"
cf="!git created-files"
cfc="!git created-files-count"
df="!git deleted-files"
dfc="!git deleted-files-count"
gho="!git github-open"
#! profile
vml = "!git z set-email maksym.bondarchuk@vml.com"
personal = "!git z set-email belkamax05@gmail.com"
